Source: reqnotes
Section: misc
Priority: optional
Maintainer: akifmt <akifmt@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/ReqBaa/ReqNotes
#Vcs-Browser: https://salsa.debian.org/debian/avaapp
#Vcs-Git: https://salsa.debian.org/debian/avaapp.git
Rules-Requires-Root: no

Package: reqnotes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Personal Note Application
 Personal Note Application.
